language: python
python:
  - "2.6"
  - "2.7"

before_install:
  - deactivate
  - echo 'yes' | sudo apt-add-repository ppa:tycho-s/ppa
  - sudo apt-get update
  - sudo apt-get install python-gtk2 python-xcbgen python-xlib xserver-xephyr qtile
  - xauth generate :99 . trusted
  - randomkey=echo $(($RANDOM * $RANDOM * 2))
  - xauth add $HOSTNAME:99 . $randomkey

install:
  - sudo pip install nose
  - sudo python setup.py -q install

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 3 # give xvfb some time to start

script: cd test; nosetests