language: python
python:
  - "2.6"
  - "2.7"

before_install:
  - time deactivate
  - time virtualenv --system-site-packages --distribute --python=python$TRAVIS_PYTHON_VERSION ~/virtualenv/python$TRAVIS_PYTHON_VERSION
  - time source ~/virtualenv/python$TRAVIS_PYTHON_VERSION/bin/activate
  - python -c "import pprint, sys; pprint.pprint(sys.path)"
  - echo 'yes' | sudo apt-add-repository ppa:tycho-s/ppa
  - sudo apt-get update
  - sudo apt-get install qtile python-xlib xserver-xephyr

install:
  - python setup.py -q install

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 3 # give xvfb some time to start

script: cd test; nosetests